.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff0;
}

.intro{
    color: white;
}

.detail{
    color: white;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }



button.btn.btn-link.collapsed {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    color: #ff6600;
}

button.btn.btn-link.collapsed:after {
    content: url(../images/orangebar.png);
    margin-top: -5px;
}

.btn-link:focus, .btn-link:hover {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    text-decoration: unset;
    background-color: transparent;
}

.btn-link {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    border-radius: 0;
}

.hrstyle {
    border-top: 2px solid #EB5A3C;
    width: 70%;
    display: inline-flex;
    float: right;
}

.hrstyle-1 {
    border-top: 2px solid #EB5A3C;
    width: 200px;
    display: inline-flex;
}

.flex-line {
    display: flex;
}



.sec-one {
    background-image: url(../images/firstsec-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button-style {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    font-weight: 300;
}

.row.sec-two {
    min-height: 600px;
}

.col-md-6.accordionsbox {
    padding: 5%;
}

.col-md-6.prince-img {
    background-image: url(../images/princesquare.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box1 {
    margin-left: 50px;
    background-color: white;
    padding: 30px;
    min-width: 500px;
    max-width: 500px;
    
}

a.btn.btn-light {
    background-color: #fff;
    color: black;
    font-weight: 600;
}

img.slide-image {
    padding: 50px;
    background-color: #F2F2F2;
}

.arrows {
    margin-left: 40%;
}

img.arrow-left {
    background-color: #F2F2F2;
    padding: 5px 10px 5px 10px;
}

img.arrow-right {
    background-color: #F2F2F2;
    padding: 5px 10px 5px 10px;
}


.card-img-top-1 {
    background-image: url("../images/dina.png");
    background-size: cover;
    height: 180px;
}

.card-img-top-2 {
    background-image: url("../images/cali.png");
    background-size: cover;
    height: 180px;
}

.card-img-top-3 {
    background-image: url("../images/rome.png");
    background-size: cover;
    height: 180px;
}

.mvo-details {
    max-width: 500px;
}


/*
.box1 {
    background-color: white;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 600px;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-30%, -50%);
    z-index: 2;
}
*/

@media (max-width: 767px) {
    .box1 {
        margin-left: 0;
        background-color: white;
        padding: 30px;
        min-width: 300px;
        max-width: 300px;
    }

    .col-md-6.accordionsbox {
        padding-left: 0;
    }

    button.btn.btn-link.collapsed:after {
        content: url(../images/orangebar.png);
        margin-top: -5px;
        max-width: 50px;
    }

    .expand-text {
        font-size: 24px;
    }
}
